// Alexandria Font
@font-face {
    font-family: 'Alexandria';
    src: url('./Alexandria/Alexandria-Thin.ttf');
    src: local('Alexandria Thin'), local('Alexandria Thin'),
        url('./Alexandria/Alexandria-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Alexandria';
    src: url('./Alexandria/Alexandria-ExtraLight.ttf');
    src: local('Alexandria ExtraLight'), local('Alexandria ExtraLight'),
        url('./Alexandria/Alexandria-ExtraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Alexandria';
    src: url('./Alexandria/Alexandria-Light.ttf');
    src: local('Alexandria Light'), local('Alexandria Light'),
        url('./Alexandria/Alexandria-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Alexandria';
    src: url('./Alexandria/Alexandria-Regular.ttf');
    src: local('Alexandria Regular'), local('Alexandria Regular'),
        url('./Alexandria/Alexandria-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Alexandria';
    src: url('./Alexandria/Alexandria-Medium.ttf');
    src: local('Alexandria Medium'), local('Alexandria Medium'),
        url('./Alexandria/Alexandria-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Alexandria';
    src: url('./Alexandria/Alexandria-SemiBold.ttf');
    src: local('Alexandria SemiBold'), local('Alexandria SemiBold'),
        url('./Alexandria/Alexandria-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Alexandria';
    src: url('./Alexandria/Alexandria-Bold.ttf');
    src: local('Alexandria Bold'), local('Alexandria Bold'),
        url('./Alexandria/Alexandria-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Alexandria';
    src: url('./Alexandria/Alexandria-ExtraBold.ttf');
    src: local('Alexandria ExtraBold'), local('Alexandria ExtraBold'),
        url('./Alexandria/Alexandria-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Alexandria';
    src: url('./Alexandria/Alexandria-Black.ttf');
    src: local('Alexandria Black'), local('Alexandria Black'),
        url('./Alexandria/Alexandria-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

// Anybody Font
@font-face {
    font-family: 'Anybody';
    src: url('./Anybody/Anybody-Thin.ttf');
    src: local('Anybody Thin'), local('Anybody Thin'),
        url('./Anybody/Anybody-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Anybody';
    src: url('./Anybody/Anybody-ExtraLight.ttf');
    src: local('Anybody ExtraLight'), local('Anybody ExtraLight'),
        url('./Anybody/Anybody-ExtraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Anybody';
    src: url('./Anybody/Anybody-Light.ttf');
    src: local('Anybody Light'), local('Anybody Light'),
        url('./Anybody/Anybody-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Anybody';
    src: url('./Anybody/Anybody-Regular.ttf');
    src: local('Anybody Regular'), local('Anybody Regular'),
        url('./Anybody/Anybody-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Anybody';
    src: url('./Anybody/Anybody-Medium.ttf');
    src: local('Anybody Medium'), local('Anybody Medium'),
        url('./Anybody/Anybody-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Anybody';
    src: url('./Anybody/Anybody-SemiBold.ttf');
    src: local('Anybody SemiBold'), local('Anybody SemiBold'),
        url('./Anybody/Anybody-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Anybody';
    src: url('./Anybody/Anybody-Bold.ttf');
    src: local('Anybody Bold'), local('Anybody Bold'),
        url('./Anybody/Anybody-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}