.app {
    &-hamburger {
        position: absolute;
        right: 25px;
        top: 25px;
        display: none;
    }
}


@media (max-width: 425px) {
    .app {
        &-hamburger {
            width: 20px;
            height: 20px;
            right: 15px;

        }
    }
}